/* ==========================================================================
Colors
========================================================================== */
@black: hsl( 0, 0%, 16% );

@greyD: hsl( 233, 6%, 30% );
@greyM: hsl( 235, 6%, 35% );
@greyL: hsl( 0, 0, 49% );
@greyXL: lighten(@greyL, 30%);

@white: #fff;

@blue: hsl( 196, 49%, 49% ); // blue
@link: hsl( 193, 89%, 28% ); // link
@storylink: hsl( 198, 50%, 80% ); // story link

@orange: hsl( 19, 98%, 59% ); // orange


/* ==========================================================================
Fonts -- be sure to see _typography.less
========================================================================== */

/* @headline
 * Kepler Standard Display
 * For bold headlines
----------------------------- */
@headline: "pt-serif", "Georgia", serif;

/* @serif
 * Kepler Standard
 * For body and other general aplications
----------------------------- */
@serif: "kepler-std","Georgia",serif;


/* @sans
 * Proxima Nova
 * For labels, bylines, photo credits, etc
 * NOTE: Be sure to see override in _typography.less
----------------------------- */
@sans: "proxima-nova", "Helvetica Neue", "Helvetica",sans-serif;


/**
 * Largo navbar color changes
 */
// Main navbar
@navbarRuleColor: @greyXL;

// Sticky navbar
@stickyNavbarText: @white;
@stickyNavbarLinkColor: @stickyNavbarText;
@headerFooterColor: @greyD;
@stickyNavbarLinkColorHover: darken(@stickyNavbarLinkColor, 5%);
@stickyNavbarBackgroundColor: @greyD;
